*{
    box-sizing: border-box;
    margin: 0;
}

/* Lato: Regular 400, Black 900 */
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header{
    max-height: 10%;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(165, 42, 42);
    color: white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
main.container{
    width: 100%;
    min-height: 80%;
    margin: 0;
    position: fixed;
    top: 10%;
    left: 0;
    background-color: whitesmoke;
}
.container main{
    width: 75%;
    min-height: 80%;
    position: fixed;
    top: 10%;
    right: 0;
}
.container>aside{
    width: 25%;
    min-height: 80%;
    margin: 0;
    border-right: 1px solid rgba(0,0,0,0.4);
    position: fixed;
    top: 10%;
    left: 0;
    text-align: center;
}
footer{
    height:10%;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 15px;
    line-height: 180%;
    background-color: brown;
    color: white;
    text-align: center;
}

.add-list-btn{
    border: none;
    padding: 20px;
    font-size: 50px;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

.task-options{
    width: auto;
    height: auto;
    position: fixed;
    top: 20%;
    right: 0;
    padding-right: 15px;
}
.task-options button{
    display: block;
    border: none;
    padding: 15px;
    font-size: 25px;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}
.task-options button:hover{
    font-size: 30px;
    transition: 0.5s;
}
button:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.8);
}
button:focus, input[type="submit"]:focus{
    outline: none;
}
input[type="submit"]:hover{
    cursor: pointer;
}

.new-list-form .list-name{
    width: 50%;
    border: 3px solid brown;
    line-height: 200%;
    background-color:rgba(165, 42, 42, 0.4);
}

.new-list-form .submit-new-list{
    width: 20%;
    padding: 20px auto;
    border: 3px solid brown;
    border-radius: 5%;
    line-height: 200%;
    background-color: brown;
    color: white;
}

.panel ul{
    padding-left: 30px;
    text-align: left;
}

.panel ul li{
    width: auto;
    margin: 20px 0;
    line-height: 180%;
    text-transform: uppercase;
}
.panel ul li i{
    font-size: 20px;
    color: gray;
    vertical-align: text-top;
}
.panel ul li:hover{
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.task-list .list-name {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

.task-list .list-name-edit{
    width: 100%;
    padding: 20px 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    background-color: whitesmoke;
}
.list-name-edit:focus{
    outline: none;
}
.task-list ol{
    margin: 10px 25px;
    list-style-type: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 180%;
}

.task-list ol input{
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 15px;
    text-transform: uppercase;
    background-color: whitesmoke;
}

.task-list ol input:focus{
    outline:none;
    border: 1px solid rgba(0,0,0,0.4);
}
.task-list ol li i{
    position: relative;
    left: -1%;
}

.task-list ol li:hover{
    cursor:pointer;
}

.new-task-form .task-name{
    width: 40%;
    margin-left: 20px;
    border: 3px solid brown;
    line-height: 200%;
    background-color:rgba(165, 42, 42, 0.4) ;
}
.new-task-form .submit-new-task{
    width: 10%;
    padding: 20px auto;
    border: 3px solid brown;
    border-radius: 3%;
    line-height: 200%;
    background-color: brown;
    color: white;
}
.active{
    font-weight: 700;
}
